<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-4">
          <i>Course name</i>
        </div>
        <div class="col-xs-4">
          <b>{{course.name}}</b>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <i>Course description</i>
        </div>
        <div class="col-xs-4">
          <b>{{course.description}}</b>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <i>Course price</i>
        </div>
        <div class="col-xs-4">
          <b>{{course.price | applyDiscount:course.discount }}</b>
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)="goBack()">Go back</button>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive" [src]="course.imageUrl">
    </div>
  </div>
</div>