<form (ngSubmit)="save()" [formGroup]='testForm' novalidate>
  <div class="form-group"
  [ngClass]= "{'has-error':(testForm.get('name').touched || testForm.get('name').dirty) && testForm.get('name').errors}">
    <label for="nameInput">Name: </label>
    <input id="nameInput" 
      class="form-control"
      formControlName="name"/>  
    <span class="help-block"
    *ngIf="(testForm.get('name').touched || testForm.get('name').dirty) && testForm.get('name').errors">
        You must provide a name
      </span>
  </div>
  <div formGroupName="contactMethod"
  class="form-group"
  [ngClass]= "{'has-error':(testForm.get('contactMethod').touched || testForm.get('contactMethod').dirty)
  && testForm.get('contactMethod').errors}">
    <div class="form-group">
        <label for="emailInput">Email: </label>
        <input class="form-control" 
        id="emailInput" formControlName="email"/>  
        <span *ngIf="(testForm.get('contactMethod').touched || testForm.get('contactMethod').dirty)
         && testForm.get('contactMethod').errors">
          You must provide either email or phone
        </span>
      </div>
    <div class="form-group">
        <label for="phoneInput">Phone: </label>
        <input id="phoneInput" class="form-control" formControlName="phone"/>  
        <span *ngIf="(testForm.get('contactMethod').touched || testForm.get('contactMethod').dirty) && testForm.get('contactMethod').errors">
          You must provide either email or phone
        </span>
    </div>
  </div>
</form>